<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Spring Security Example</title>
		<meta charset="UTF-8" />
		<link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
		<style type="text/css">
			div.bar {
				display: inline-block;
				margin-right: 2px;
				width: 20px;
				height: 75px; /* 后面会覆盖这个高度 */
				background-color: teal;
			}
		</style>
	</head>
	<body>
		<h1>Welcome!</h1>

		<p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
		<div id="dataView"></div>
	</body>
	<script src="webjars/jquery/2.1.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script th:src="@{js/home.js}"></script>
</html>